# Python Pre_Training 
### Edward Torres

## Python fundamentals Exercises (Expressions, Strings, Lists, Tuples)
The notebook intends to help you practice these concepts. Attempt honestly.
Instructions/Suggestions:



Don't forget to copy the expression from the Question to code cell!

You can use the python documentation anytime you want to learn about a new function or attribute.

### Q1: What is 84 / 12 + 2 * 2 ?

In [1]:
84/12+2*2

11.0

### Q2: What is the type of the answer variable in this expression:
answer = 12/4

In [2]:
type(12/4)

float

### Q3: What is the value of num?
num = 2
num = 5*10

In [3]:
num = 2
num = 5*10

In [4]:
num

50

### Q4: What would this expression evaluate to?
'tom' + 1

In [5]:
'tom' + 1

TypeError: can only concatenate str (not "int") to str

### Q5: What would this expression evaluate to?
'6' + '4'

In [6]:
'6' + '4'

'64'

### Q6: What would be the output of MyString[5:12] if?
MyString = "Data Science with Harshit"

In [7]:
MyString = "Data Science with Harshit"
MyString[5:12]

'Science'

### Q7: What would be the output of MyString[5:] if?
MyString = "Data Science with Harshit"

In [8]:
MyString[5:]

'Science with Harshit'

### Q8: What would be the output of MyString[5::2] if?
MyString = "Data Science with Harshit"

In [9]:
MyString[5::2]

'Sinewt asi'

### Q9: Is there any 'go' in MyString if yes, at what index?
MyString = "You should go to your home!"

In [27]:
MyString = "You should go to your home!"
MyString.index('go')

11

Yes at 11

### Q10: Evaluate the following expression and convert it to string object?
18 + 19 * 11

In [12]:
ans = 18+19*11

In [13]:
str(ans)

'227'

In [15]:
string_ans = str(ans)

In [16]:
type(string_ans)

str

### Q11: Replace Harshit with your name in the statement below.
MyString = "Data Science with Harshit"

In [20]:
MyString = "Data Science with Harshit"
MyString.replace("Harshit","Edward")

'Data Science with Edward'

### Q12: Use the split() function to extract all the words of MyString in a list:Â¶
MyString = "Data Science with Harshit"

In [21]:
MyString.split()

['Data', 'Science', 'with', 'Harshit']

### Q13: Extract the last element of the list without counting.
MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]

In [22]:
MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]
MyList[-1]

87

### Q14: What is the length of the list below?
MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]

In [23]:
len(MyList)

9

### Q15: Extract all the elements from 2nd index to 6th index.
MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]

In [26]:
MyList[1:6]

[43, 56, 'tom', 'red', 65]

### Q16: Extract all the elements except last 2 using slicing
MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]

In [29]:
MyList[0:-2]

[23, 43, 56, 'tom', 'red', 65, 89]

### Q17: Are lists mutable? (Yes/No)

Yes

### Q18: Sort the below list using the in-built list class function:
MyList = [23, 43, 56, 65, 89, 90, 87]

In [45]:
MyList = [23, 43, 56, 65, 89, 90, 87]
MyList.sort()
print(MyList)

[23, 43, 56, 65, 87, 89, 90]

### Q19: Delete 'tom' and 'red' from the list using remove() function.
MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]

In [77]:
MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]
MyList.remove('tom')
MyList.remove('red')
print(MyList)

[23, 43, 56, 65, 89, 90, 87]

### Q20: Tuples are mutable(True/False)

False

### Q21: From a tuple (23, -1, 34, [1 , 3] , 90), extract 3.

In [51]:
tuple = (23, -1, 34, [1 , 3] , 90)

### Q22: What is right method to clone a list? Create a clone the list below. Imp (Hint: slicing)Â¶
MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]

In [55]:
MyList = [23, 43, 56, 'tom', 'red', 65, 89, 90, 87]
MyList2 = MyList[:]
print(MyList2)

[23, 43, 56, 'tom', 'red', 65, 89, 90, 87]

## Python fundamentals Exercises (Conditionals, Loops)

### Q1: What would be the output of the following code block?
count = 4
print(count == 2)
print(count != 4)
print(count > 4)
print(count < 6)

In [56]:
count = 4
print(count == 2)
print(count != 4)
print(count > 4)
print(count < 6)

False
False
False
True

### Q2: What would be the output of the following code block?
color = "red"
category = "fruit"

if color == "red" and category == "fruit":
    print("We have an Apple!)

if color == "red" and category == "vegetable":
    print("We have tomatoes")

In [57]:
color = "red"
category = "fruit"

if color == "red" and category == "fruit":
    print("We have an Apple!)

if color == "red" and category == "vegetable":
    print("We have tomatoes")

SyntaxError: EOL while scanning string literal (<ipython-input-57-8352076ff5a9>, line 5)

### Q3: What would be the output of the following code block?
requested = ['blueberry', 'banana']
fruits = ['apple', 'banana', 'watermelon', 'kiwi', 'rasberry']

if requested not in fruits:
    print("Sorry, We don't have bananas in stock. Please review your order!")

else:
    print("Order is placed!")

In [58]:
requested = ['blueberry', 'banana']
fruits = ['apple', 'banana', 'watermelon', 'kiwi', 'rasberry']

if requested not in fruits:
    print("Sorry, We don't have bananas in stock. Please review your order!")

else:
    print("Order is placed!")

Sorry, We don't have bananas in stock. Please review your order!

### Q4: What would be the output of the following code block?
scores1 = [1,2,3]
scores2 = [1,2,3]

print(score1 == score2)

In [60]:
scores1 = [1,2,3]
scores2 = [1,2,3]

print(scores1 == scores2)

True

### Q5: What would be the output of the following code block? Learn about 'is' operator.
scores1 = [1,2,3]
scores2 = [1,2,3]

print(score1 == score2)
print(score1 is score2)

In [63]:
scores1 = [1,2,3]
scores2 = [1,2,3]

print(scores1 == scores2)
print(scores1 is scores2)

True
False

### Q6: Print the following pattern using for loops:
###### * **
###### . . . *....*(n times)

In [73]:
n = 5
for i in range(n):
    print('* **')

* **
* **
* **
* **
* **

## Python fundamentals Exercises (Dictionaries, Functions)

## Q1: What are the keys in the following dictionary?
MyDict = {"Color": "red", "name": "apple", "type": "fruit"}

Color, name, type

### Q2: Extract all the keys of the dictionary below.
MyDict = {"Color": "red", "name": "apple", "type": "fruit"}

In [67]:
MyDict = {"Color": "red", "name": "apple", "type": "fruit"}
MyDict.keys()

dict_keys(['Color', 'name', 'type'])

### Q3: Iterate over the dictionary to print the corresponding key and value.
MyDict = {"Color": "red", "name": "apple", "type": "fruit"}

In [71]:
MyDict = {"Color": "red", "name": "apple", "type": "fruit"}
print(MyDict["Color"])
print(MyDict["name"])
print(MyDict["type"])

red
apple
fruit